:root {
  --color-white: #ffffff;


  --color-accent-600: #4863f7;
  --color-accent-500: #787bd7;


  --color-alert-600: #ff5c5c;

 
  --color-gray-900: #0d0d0d;
  --color-gray-800: #111111;
  --color-gray-700: #1a1a1a; 
  --color-gray-200: #424242;
  --color-gray-100: #737373;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
  display: flex;
  align-items: flex-start; /* garante topo */
  justify-content: flex-start;
}


/* Quando a sidebar está ativa, desloca a main */
.sidebar.active ~ .main {
    margin-left: 400px;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 62px 124px;
    gap: 32px;
    color: var(--color-white);
    margin-left: 0;
    transition: margin-left 0.4s ease;
    width: 1040px;
    margin: 0 auto;
}
 
.main-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    width: 100%;
    background-color: var(--color-gray-900);
}

.btn-outline {
    display: flex;
    align-items: center;
    height: 44px;
    background-color: rgba(27, 27, 27, 0.3);
    border: 0.5px solid var(--color-gray-200);
    border-radius: 6px;
    padding: 0 16px;
    gap: 10px;
    cursor: pointer;
}

.btn-outline .icon {
    width: 20px;
    height: 20px;
}

.btn-outline .text,
.btn-primary .text {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    color: var(--color-white);
}

.btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    height: 44px;
    background-color: var(--color-accent-600);
    border: 1px solid var(--color-accent-500);
    border-radius: 6px;
    cursor: pointer;
    width: 150px;
}

.prompt-title {
    font-family: Inter;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.21em;
    color: var(--color-white);
    margin: 0;
}

.prompt-content {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 2em;
    color: var(--color-white);
    white-space: pre-wrap;
    width: 100%;
}

body { 
    background-color: var(--color-gray-900);
    font-family: "Inter", sans-serif;
}

.toggle-sidebar {
    position: fixed;
    top: 26px;
    left: 20px;
    background: var(--color-gray-800);
    border: 0.5px solid var(--color-gray-200);
    border-radius: 6px;
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    z-index: 1002;

}

.toggle-sidebar .icon {
    width: 16px;
    height: 16px;
    transition: transform 0.4s ease;
}

.sidebar.active ~ .main {
    margin-left: 400px;
}

.sidebar.active + .toggle-sidebar {
    left: 360px;
}

.sidebar.active .toggle-sidebar .icon {
    transform: rotate(180deg);
}

/* Efeito hover */
.toggle-sidebar:hover {
    background: var(--color-gray-700);
}

.sidebar {
    position: fixed;
    top: 0;
    left: -400px;
    width: 400px;
    height: 100vh;
    padding: 32px;
    background-color: var(--color-gray-800);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: 50px;
    transition: left 0.4s ease;
    z-index: 1000;
    border-right: 0.5px solid var(--color-gray-200);
}

.sidebar.active {
    left: 0;
}

.sidebar_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 32px;
}

.logo span {
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    color: var(--color-white);
}

.sidebar_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.search-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.search {
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 0 16px;
    width: 100%;
    height: 44px;
    border: 1px solid var(--color-gray-200);
    border-radius: 6px;
    background-color: transparent;
}

#Busca {
    background: transparent;
    border: none;
    color: var(--color-white);
    font-family: Inter;
    font-size: 14px;
    width: 100%;
    outline: none;
}

#Novo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    width: 100%;
    height: 44px;
    background-color: var(--color-accent-600);
    border: 1px solid var(--color-accent-500);
    border-radius: 6px;
    cursor: pointer;
}

#Novo .button_title {
    color: var(--color-white);
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
}

.line_divisor {
    width: 100%;
    height: 1px;
    background-color: var(--color-gray-700);
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.prompt-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.prompt-item .prompt-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.prompt-item .title {
    color: var(--color-white);
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
}

.prompt-item .description {
    color: var(--color-gray-100);
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
}

.remove-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.editable-wrapper {
    position: relative;
}

.editable-wrapper::before {
    content: attr(data-placeholder);
    position: absolute;
    color: var(--color-gray-200);
    pointer-events: none;
    opacity: 0;
}

.editable-wrapper.is-empty::before {
    opacity: 1;
}

#title-wrapper.is-empty {
    font-size: 32px;
   font-weight: 600; 
    color: var(--color-gray-200);  
    
}

#content-wrapper.is-empty {
    font-size: 16px;
    color: var(--color-gray-200);  
    
}