body {
    background-color: rgb(15, 15, 15);
    font-family: "Inter", sans-serif;
}

#menu-toggle {
    display: none;
  }

.sidebar {
    position: fixed;  
    left: -400px;         
    background-color: rgb(15, 15, 15);
    color: white;
    align-content: center;
    transition: left 0.4s; 
    z-index: 1000;
}

.sidebar.active {
    left: 0;
}

#Busca {
    background-color: rgb(15, 15, 15);
    color: white;
    font-size: 1.5rem;
    align-content: center;
    border-radius: 6px;
    box-sizing: border-box;
    width: 300px;
    height: 40px;    
}

#Novo {
    background-color: rgb(15, 15, 15);
    color: white;
    font-size: 1.5rem;
    align-content: center;
    margin-top: 20px;
    border-radius: 6px;
    box-sizing: border-box;
    width: 300px;
    height: 40px;
    
}

h2 {
    color: white;
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    width: 200px;
}